name: simulation_build

# Controls when the action will run.
on:
  push:
    branches: [ '**' ]
  release:
    # A release, pre-release, or draft of a release is published.
    types: [ published ]
  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel.
jobs:
  # The introduction just shows some useful informations.
  intro:
    # The type of runner that the job will run on.
    runs-on: ubuntu-24.04
    container: cyberbotics/webots:R2025a-ubuntu22.04
    # Steps represent a sequence of tasks that will be executed as part of the job.
    steps:
    - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
    - run: echo "The name of the branch is ${{ github.ref }} and the repository is ${{ github.repository }}."

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12.3'
        cache: 'pip'
        cache-dependency-path: .github/workflows/requirements.txt
    
    - name: Install dependencies
      run: |
        pip install -r .github/workflows/requirements.txt